body{
background-color: aqua;

}
.quiz{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.title1{
color: green;

}

.p1{
    color: blue;
}

.p3{
    color: brown;
}